%btn {
    display: inline-block;
    padding: .625rem 1.25rem;
    margin: 3px;
    border-radius: .25rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.11);
    text-decoration: none;
    font-family: $font;
    cursor: pointer;
    outline: none;
    text-align: center;
    user-select: none;
    color: $white;
  
    &:hover {
      transform: scale(.98);
    }

    &:disabled {
        cursor: not-allowed;
    }
  }
  
  .btn-primary {
    @extend %btn;
    background-color: $primary-color;
  }
  
  .btn-secondary {
    @extend %btn;
    background-color: $secondary-color;
  }

  .btn-warning {
    @extend %btn;
    background-color: $warning-color;
  }

  .btn-danger {
    @extend %btn;
    background-color: $danger-color;
  }

  .btn-info {
    @extend %btn;
    background-color: $info-color;
  }

  .btn-success {
    @extend %btn;
    background-color: $success-color;
  }

a {
  color: $link-color;
  text-decoration: $link-decoration;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}
