// Typography

$font: 'Lato', sans-serif;

$headings-color: #34495e;
$paragraph-color: #34495e;

$h1-font-size: 2.5rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

$lead-font-size: 1.25rem;
$lead-font-weight:300;

$text-muted:#d1d5d8;

$link-decoration: underline;
$link-color: #1abc9c;

$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: null !default;

// Stairs Colors
$primary-color: #1abc9c;
$secondary-color: #34495e;
$warning-color: #f1c40f;
$default-color: #34495e;
$danger-color:  #e74c3c;
$info-color:    #3498db;
$disabled-color: #d1d5d8;
$success-color:#2ecc71;

$white: #fff !default;
$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;


// Grid System
$grid-columns:12;
$gird-max-width:1200px;
$breakpoint-xs:"only screen and" (min-width:0px);
$breakpoint-small:"only screen and" (min-width:576px);
$breakpoint-medium:"only screen and" (min-width:768px);
$breakpoint-large:"only screen and" (min-width:1008px);
$breakpoint-xl:"only screen and" (min-width:1300px);